{% extends "base/home.html" %}
{% load static %}


{% block content %} 
  {{ block.super }}
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-md-4">
        <div class="wrapp">
          <ul class="nav nav-pills nav-stacked">
          {% for category in categories %}
            <li role="presentation"><a href="{% url 'category' category.slug %}">{{ category.name }}</a></li>
          {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col-sm-9 col-md-8">
        {% if query %}
          <h3 class="text-muted">Поиск по: &laquo;{{ query }}&raquo;</h3>
        {% else %}
          <h3 class="text-muted">Список всех мест:</h3>
        {% endif %}
        <hr>
        <div class="row">
          {% for place in places %}
            {% if place.is_published %}
              <div class="col-sm-4 col-md-4 place">
                <div class="thumbnail">
                  <img class="img__class"src="{{ place.main_foto.url }}" alt="">
                  <i class="glyphicon glyphicon-bookmark create-bookmark"></i>
                </div>
                <div class="caption">
                  <p class="h4 text-muted text-center"><a  href="{% url 'detail' place.slug %}">{{ place.name }}</a></p>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block left_menu %}{% endblock %}